{% extends "lawyer/core/base_dashboard.html" %}

{% block content %}
<div class="relative h-auto w-auto" x-data="{ slideOverOpen: false }">
    <div class="max-w-[1250px] mx-auto mt-10">
        <div class="flex justify-between items-center mb-6">
            <h1 class="text-2xl font-semibold">Parametrage des types activités</h1>
            <div>
                <button @click="slideOverOpen=true" class="lawyer-btn-primary">Ajouter un type d'activité</button>
            </div>
        </div>

        <div>
            <div
                x-data="{
                    tabSelected: 1,
                    tabId: $id('tabs'),
                    tabButtonClicked(tabButton){
                        this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
                        this.tabRepositionMarker(tabButton);
                    },
                    tabRepositionMarker(tabButton){
                        this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
                        this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
                        this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
                    },
                    tabContentActive(tabContent){
                        return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
                    },
                    tabButtonActive(tabContent){
                        const tabId = tabContent.id.split('-').slice(-1);
                        return this.tabSelected == tabId;
                    }
                }"
                
                x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);" class="relative w-full ">
                
                <div x-ref="tabButtons" class="relative flex items-center justify-center w-full h-10   p-1 text-gray-500 bg-white border 
                border-gray-100 rounded-lg select-none" id="Tabsheaders">
                    {% for activity in type_activity  %}
                        <button :id="$id(tabId)" @click="tabButtonClicked($el);" type="button" :class="{ 'bg-gray-100 text-gray-700' : tabButtonActive($el) }" 
                        class="relative z-20 inline-flex items-center justify-center w-full h-8 px-3 text-sm font-medium transition-all rounded-md
                        cursor-pointer whitespace-nowrap"
                        hx-get="{% url 'lawyer:details_type_active' activity.id %}" hx-target="#activity-{{activity.id}}"
                        hx-trigger="click" hx-swap="innerHtml"
                        >{{ activity.name }}</button>
                    {% endfor %}
                    <div x-ref="tabMarker" class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out" x-cloak><div class="w-full h-full bg-gray-100 rounded-md shadow-sm"></div></div>
                </div>
                <div class="relative flex  w-full p-5 mt-2 text-xs  border rounded-md
                content border-gray-200/70" id="Tabsbody">

                    {% for activity in type_activity %}
                        <div :id="$id(tabId + '-content')" x-show="tabContentActive($el)" class="relative
                        space-y-6 w-full">
                            <div>
                                <h3 class="text-xl font-semibold">Gestion {{ activity.name }}</h3>
                            </div>
                            <div class="w-full" id="activity-{{activity.id}}">
                                
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <template x-teleport="body">
        <div 
            x-show="slideOverOpen"
            @keydown.window.escape="slideOverOpen=false"
            class="relative z-[99]">
            <div x-show="slideOverOpen" x-transition.opacity.duration.600ms @click="slideOverOpen = false" class="fixed inset-0 bg-black/10"></div>
            <div class="overflow-hidden fixed inset-0">
                <div class="overflow-hidden absolute inset-0">
                    <!-- Remove the pt-11 from the element below, this was needed only for the demo -->
                    <div class="flex fixed inset-y-0 top-0 right-0 pt-11 pl-10 max-w-full">
                        <div 
                            x-show="slideOverOpen" 
                            @click.away="slideOverOpen = false"
                            x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700" 
                            x-transition:enter-start="translate-x-full" 
                            x-transition:enter-end="translate-x-0" 
                            x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700" 
                            x-transition:leave-start="translate-x-0" 
                            x-transition:leave-end="translate-x-full" 
                            class="w-screen max-w-2xl min-h-screen">
                            <div  x-data = "{
                                list_champs: [],
                                addChamp(champ) {
                                    this.list_champs.push(champ);
                                    console.log('Ajouté:', this.list_champs);

                                },
                                removeChamp(index) {
                                    this.list_champs = this.list_champs.filter((champ) => champ !== index);
                                    console.log('Supprimé:', this.list_champs);
                                },
                                get getchamps() {
                                    return this.list_champs;
                                },
                                defInit(initialChamps) {
                                    this.list_champs = initialChamps || [];
                                },
                                active_champs(index) {
                                    return this.list_champs.includes(index) ? true : false;
                                }
                            }"
                            
                            class="flex overflow-y-scroll flex-col py-5 h-full
                             bg-white border-l shadow-lg border-neutral-100/70">
                                <div class="px-4 sm:px-5">
                                    <div class="flex justify-between items-start pb-1">
                                        <h2 class="text-xl font-semibold leading-6 text-gray-900" id="slide-over-title">Ajoute un type d'activité</h2>
                                        <div class="flex items-center ml-3 h-auto"> 
                                            <button @click="slideOverOpen=false" class="flex absolute right-0 z-30 justify-center items-center px-3 py-2 mt-6 mr-5 space-x-1 text-xs font-medium uppercase rounded-md border border-neutral-200 text-neutral-600 hover:bg-neutral-100">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path></svg>
                                                <span>Close</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="relative flex-1 px-4 mt-5 sm:px-5">
                                    <div class="absolute inset-0 px-4 sm:px-5">
                                        {% include "lawyer/activiter/htmx/add_activity.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>
{% endblock content %}
