
# Variables d'environnement
.env
*.env
gestiontimer
gestiontimer/*
lawyer
lawyer/*
gestiondoc
gestiondoc/*
.DS_Store
Thumbs.db
.vscode/
.idea/
*.log
node_modules/

coverage/
*.sqlite
*.sqlite3
*.db
*.bak
*.tmp       