{% extends "lawyer/base.html" %}

{% block content %}
<div class="h-screen w-screen flex items-center justify-center">
    <div class="w-96 px-8 py-9  border rounded-md flex flex-col gap-3 ">
        <div class="text-center mb-4 font-bold text-3xl">
            <h2>Orbit</h2>
        </div>
        <form method="post" action="{% url 'lawyer:login' %}"
        class="flex flex-col gap-8">
            {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% csrf_token %}
            <div class="flex flex-col">
                <label for="email">Réinitialiser le mot de passe</label>
                <input type="email" class="border rounded-md border-sky-950" id="email" name="email" required
                placeholder="Entrez votre adresse e-mail">
            </div>
            <div class="flex justify-end items-center">
                <button>Mot de passe oublié?</button>
            </div>
            <button type="submit" class="bg-blue-800 text-white rounded-md py-2">Valider</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    // Add any additional JavaScript needed for the login page here
</script>
{% endblock %}