@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .lawyer-btn-primary {
        @apply px-4 py-2 text-lg     bg-blue-800 hover:bg-blue-600 transition duration-300 ease-in-out 
        text-white rounded-md flex items-center gap-2;
    }
}