<div class="w-full">
    <div x-data="{ 
        activeAccordion: '', 
        setActiveAccordion(id) { 
            this.activeAccordion = (this.activeAccordion == id) ? '' : id 
        } 
    }" class="relative w-full mx-auto overflow-hidden text-sm font-normal  divide-y divide-gray-200 rounded-md">
        <div x-data="{ id: $id('accordion') }" class="cursor-pointer group">
            <button @click="setActiveAccordion(id)" class="flex items-center justify-between w-full p-4 gap-6 text-left select-none group-hover:underline">
                <span>    Voir la liste champs </span>
                <svg class="w-4 h-4 duration-200 ease-out" :class="{ 'rotate-180': activeAccordion==id }" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"></polyline></svg>
            </button>
            <div x-show="activeAccordion==id" x-collapse x-cloak>
                <div class="p-4 pt-0 mb-8 opacity-70 grid grid-cols-2 gap-8 ">
                    <div class="shadow-md py-6 px-3 rounded-lg space-y-4 bg-teal-50">
                        <h3 class="text-lg font-semibold text-blue-600">Champs actif</h3>
                        <div class="space-y-2">
                            {% for champs  in used_champs %}
                                <div class="flex justify-between items-center gap-2 px-4 py-2 border border-gray-900
                                text-base rounded-md ">
                                    <div>
                                        <p>{{champs.name}}</p>
                                        <span class="text-sm text-gray-700">{{champs.description}}</span>
                                    </div>
                                    <div>
                                        <div class="flex items-center gap-2">
                                            <div x-data="{ switchOn: true }" class="flex items-center justify-center space-x-4">
                                                <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="switchOn">
                                                <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
                                                    :class="{ 'text-blue-600': switchOn, 'text-gray-700': ! switchOn }"
                                                    class="text-xs font-medium select-none"
                                                    x-cloak>
                                                    Status
                                                </label>
                                                <button 
                                                    x-ref="switchButton"
                                                    type="button" 
                                                    @click="switchOn = ! switchOn"
                                                    :class="switchOn ? 'bg-blue-600' : 'bg-neutral-200'" 
                                                    class="relative inline-flex h-4 py-0.5 ml-4 rounded-full focus:outline-none w-8"
                                                    x-cloak>
                                                    <span :class="switchOn ? 'translate-x-[18px]' : 'translate-x-0.5'" class="w-3 h-3 duration-200 ease-in-out bg-white rounded-full shadow-md"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="space-y-4">
                        <h3 class="text-lg font-semibold">Champs inactif</h3>
                        <div class="space-y-2">
                            {% for champs  in unused_champs %}
                            <div class="flex justify-between items-center gap-2 px-4 py-2 border rounded-md ">
                                <div>
                                    <p>categorie name</p>
                                    <span class="text-sm text-gray-500">my description</span>
                                </div>
                                <div>
                                    <div class="flex items-center gap-2">
                                        <div x-data="{ switchOn: false }" class="flex items-center justify-center space-x-4">
                                            <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="switchOn">
                                            <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
                                                :class="{ 'text-blue-600': switchOn, 'text-gray-400': ! switchOn }"
                                                class="text-xs font-medium select-none"
                                                x-cloak>
                                                Status
                                            </label>
                                            <button 
                                                x-ref="switchButton"
                                                type="button" 
                                                @click="switchOn = ! switchOn"
                                                :class="switchOn ? 'bg-blue-600' : 'bg-neutral-200'" 
                                                class="relative inline-flex h-4 py-0.5 ml-4 rounded-full focus:outline-none w-8"
                                                x-cloak>
                                                <span :class="switchOn ? 'translate-x-[18px]' : 'translate-x-0.5'" class="w-3 h-3 duration-200 ease-in-out bg-white rounded-full shadow-md"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="w-full space-y-3">
        <h3 class="text-base">Catégories</h3>

        <div class="w-full grid grid-cols-2 gap-8">
            <div class="">
                <div class="flex justify-between items-center gap-2 px-4 py-2 border rounded-md ">
                    <div>
                        <p>categorie name</p>
                        <span class="text-sm text-gray-500">my description</span>
                    </div>
                    <div>
                        <div class="flex items-center gap-2">
                            <div x-data="{ switchOn: false }" class="flex items-center justify-center space-x-4">
                                <input id="thisId" type="checkbox" name="switch" class="hidden" :checked="switchOn">
                                <label @click="$refs.switchButton.click(); $refs.switchButton.focus()" :id="$id('switch')" 
                                    :class="{ 'text-neutral-900': switchOn, 'text-gray-400': ! switchOn }"
                                    class="text-xs font-medium select-none"
                                    x-cloak>
                                    Status
                                </label>
                                <button 
                                    x-ref="switchButton"
                                    type="button" 
                                    @click="switchOn = ! switchOn"
                                    :class="switchOn ? 'bg-neutral-900' : 'bg-neutral-200'" 
                                    class="relative inline-flex h-4 py-0.5 ml-4 rounded-full focus:outline-none w-8"
                                    x-cloak>
                                    <span :class="switchOn ? 'translate-x-[18px]' : 'translate-x-0.5'" class="w-3 h-3 duration-200 ease-in-out bg-white rounded-full shadow-md"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="flex justify-center px-8">
                <div class="w-4/5 border rounded-md flex flex-col gap-3 px-2 py-4">
                     <h4 class="text-lg font-semibold text-center">Ajouter une categorie</h4>

                     <form action=""
                     class="flex flex-col gap-4">
                        <div class="flex flex-col text-base px-3">
                            <label for="name">Nom </label>
                            <input type="text" name="name" class="
                            px-3 py-2 rounded-md text-base">
                        </div>

                        <div class="flex flex-col text-base px-3">
                            <label for="description">Description</label>
                            <textarea name="description" id=""
                            class="px-3 py-2 rounded-md text-base min-h-52"></textarea>
                        </div>

                        <div class="w-full px-3">
                            <button class="w-full lawyer-btn-primary flex justify-center">Ajouter</button>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
</div>